<ion-view view-title="All Issues">
  <ion-content>
    <div ng-repeat="maglist in maglists" class="list-magazine">
    <div class="item item-thumbnail-left">
      <img ng-src="{{maglist.issueCover}}">
      <h2>{{maglist.issueName}}</h2>
      <p>Release date: {{maglist.releaseDate}}</p>
      <button class="button download-issue" ng-click="downloadContent(maglist.folderName, maglist.zipFile)">Download</button>
      <progress ng-hide="downloadProgress==100" max="100" value="0" id="{{maglist.folderName}}"></progress>
    </div>
  </div>
  </ion-content>
</ion-view>
