<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.publixx579660" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>publixx</name>
    <description>An awesome Ionic/Cordova app.</description>
    <author email="hi@ionicframework" href="http://ionicframework.com/">Ionic Framework Team</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="http://ionic.local/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src='www/res/icons/android/icon-ldpi-36.png' density='ldpi'></icon>
        <icon src='www/res/icons/android/icon-mdpi-48.png' density='mdpi'></icon>
        <icon src='www/res/icons/android/icon-hdpi-72.png' density='hdpi'></icon>
        <icon src='www/res/icons/android/icon-xhdpi-96.png' density='xhdpi'></icon>
        <icon src='www/res/icons/android/icon-xxhdpi-144.png' density='xxhdpi'></icon>
        <icon src='www/res/icons/android/icon-xxxhdpi-192.png' density='xxxhdpi'></icon>
        <splash src='www/res/screens/android/screen-ldpi-landscape.png' density='land-ldpi'></splash>
        <splash src='www/res/screens/android/screen-mdpi-landscape.png' density='land-mdpi'></splash>
        <splash src='www/res/screens/android/screen-hdpi-landscape.png' density='land-hdpi'></splash>
        <splash src='www/res/screens/android/screen-xhdpi-landscape.png' density='land-xhdpi'></splash>
        <splash src='www/res/screens/android/screen-ldpi-portrait.png' density='port-ldpi'></splash>
        <splash src='www/res/screens/android/screen-mdpi-portrait.png' density='port-mdpi'></splash>
        <splash src='www/res/screens/android/screen-hdpi-portrait.png' density='port-hdpi'></splash>
        <splash src='www/res/screens/android/screen-xhdpi-portrait.png' density='port-xhdpi'></splash>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src='www/res/icons/ios/icon.png' width='57' height='57'></icon>
        <icon src='www/res/icons/ios/icon-2x.png' width='114' height='114'></icon>
        <icon src='www/res/icons/ios/icon-40.png' width='40' height='40'></icon>
        <icon src='www/res/icons/ios/icon-40-2x.png' width='80' height='80'></icon>
        <icon src='www/res/icons/ios/icon-40-3x.png' width='120' height='120'></icon>
        <icon src='www/res/icons/ios/icon-50.png' width='50' height='50'></icon>
        <icon src='www/res/icons/ios/icon-50-2x.png' width='100' height='100'></icon>
        <icon src='www/res/icons/ios/icon-60.png' width='60' height='60'></icon>
        <icon src='www/res/icons/ios/icon-60-2x.png' width='120' height='120'></icon>
        <icon src='www/res/icons/ios/icon-60-3x.png' width='180' height='180'></icon>
        <icon src='www/res/icons/ios/icon-72.png' width='72' height='72'></icon>
        <icon src='www/res/icons/ios/icon-72-2x.png' width='144' height='144'></icon>
        <icon src='www/res/icons/ios/icon-76.png' width='76' height='76'></icon>
        <icon src='www/res/icons/ios/icon-76-2x.png' width='152' height='152'></icon>
        <icon src='www/res/icons/ios/icon-83.5-2x.png' width='167' height='167'></icon>
        <icon src='www/res/icons/ios/icon-small.png' width='29' height='29'></icon>
        <icon src='www/res/icons/ios/icon-small-2x.png' width='58' height='58'></icon>
        <icon src='www/res/icons/ios/icon-small-3x.png' width='87' height='87'></icon>
        <splash src='www/res/screens/ios/screen-iphone-568h-2x.png' width='640' height='1136'></splash>
        <splash src='www/res/screens/ios/screen-iphone-portrait-667h.png' width='750' height='1334'></splash>
        <splash src='www/res/screens/ios/screen-iphone-portrait-736h.png' width='1242' height='2208'></splash>
        <splash src='www/res/screens/ios/screen-iphone-landscape-736h.png' width='2208' height='1242'></splash>
        <splash src='www/res/screens/ios/screen-ipad-landscape-2x.png' width='2048' height='1536'></splash>
        <splash src='www/res/screens/ios/screen-ipad-landscape.png' width='1024' height='768'></splash>
        <splash src='www/res/screens/ios/screen-ipad-portrait-2x.png' width='1536' height='2048'></splash>
        <splash src='www/res/screens/ios/screen-ipad-portrait.png' width='768' height='1024'></splash>
        <splash src='www/res/screens/ios/screen-iphone-portrait-2x.png' width='640' height='960'></splash>
        <splash src='www/res/screens/ios/screen-iphone-portrait.png' width='320' height='480'></splash>
    </platform>
    <icon src='www/res/icons/android/icon-xhdpi-96.png'></icon>
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.1" />
    <plugin name="cordova-plugin-console" spec="1.0.5" />
    <plugin name="cordova-plugin-statusbar" spec="2.2.1" />
    <plugin name="cordova-plugin-device" spec="1.1.4" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.1" />
    <plugin name="cordova-plugin-zip" spec="https://github.com/MobileChromeApps/zip.git" />
    <plugin name="cordova-plugin-file" spec="^4.3.3" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.6.3" />
    <plugin name="com-sarriaroman-photoviewer" spec="^1.1.10" />
    <plugin name="org.pbernasconi.progressindicator" spec="https://github.com/pbernasconi/cordova-progressIndicator.git" />
</widget>
